# Lab 11 - Creating web dashboards with Dash library in Python

## Reosurces / documentation 
- [Plotly express](https://plotly.com/python/plotly-express/)
- [Dash](https://dash.plotly.com/dash-core-components)
- [Youtube tutorial](https://www.youtube.com/watch?v=hSPmj7mK6ng)

In [85]:
import plotly.express as px 
from dash import Dash, dcc, html, Input, Output

In [86]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import math

In [87]:
df = pd.read_csv('titanic.csv')

In [88]:
df_gas=pd.read_csv('gas_prices.csv')b

In [92]:
df_gas

,Year,Australia,Canada,France,Germany,Italy,Japan,Mexico,South Korea,UK,USA
0,1990,NaN,1.87,3.63,2.65,4.59,3.16,1.00,2.05,2.82,1.16
1,1991,1.96,1.92,3.45,2.90,4.50,3.46,1.30,2.49,3.01,1.14
2,1992,1.89,1.73,3.56,3.27,4.53,3.58,1.50,2.65,3.06,1.13
3,1993,1.73,1.57,3.41,3.07,3.68,4.16,1.56,2.88,2.84,1.11
4,1994,1.84,1.45,3.59,3.52,3.70,4.36,1.48,2.87,2.99,1.11
5,1995,1.95,1.53,4.26,3.96,4.00,4.43,1.11,2.94,3.21,1.15
6,1996,2.12,1.61,4.41,3.94,4.39,3.64,1.25,3.18,3.34,1.23
7,1997,2.05,1.62,4.00,3.53,4.07,3.26,1.47,3.34,3.83,1.23
8,1998,1.63,1.38,3.87,3.34,3.84,2.82,1.49,3.04,4.06,1.06
9,1999,1.72,1.52,3.85,3.42,3.87,3.27,1.79,3.80,4.29,1.17
10,2000,1.94,1.86,3.80,3.45,3.77,3.65,2.01,4.18,4.58,1.51
11,2001,1.71,1.72,3.51,3.40,3.57,3.27,2.20,3.76,4.13,1.46
12,2002,1.76,1.69,3.62,3.67,3.74,3.15,2.24,3.84,4.16,1.36
13,2003,2.19,1.99,4.35,4.59,4.53,3.47,2.04,4.11,4.70,1.59
14,2004,2.72,2.37,4.99,5.24,5.29,3.93,2.03,4.51,5.56,1.88
15,2005,3.23,2.89,5.46,5.66,5.74,4.28,2.22,5.28,5.97,2.30
16,2006,3.54,3.26,5.88,6.03,6.10,4.47,2.31,5.92,6.36,2.59
17,2007,3.85,3.59,6.60,6.88,6.73,4.49,2.40,6.21,7.13,2.80
18,2008,4.45,4.08,7.51,7.75,7.63,5.74,2.45,5.83,7.42,3.27

In [89]:
def scatter(df):
    df_survivedTitanic = (df[(df['Age'].notnull()) & (df['Age']>=1) & (df['Survived']==1) ])
    age_counts = df_survivedTitanic.groupby(['Age'])['Survived'].sum() #returns a series of each age and the corresponding number of individuals who survived
    fig_title="Relationship between age and number of survivors"
    fig = px.scatter(x=age_counts.index, y=age_counts)
    fig.update_layout(
    title=fig_title,
    xaxis_title="Age",
    yaxis_title="survival_count")
    return fig
def histogram(df):
    fig = px.histogram(df,x="Age")
    return fig

In [96]:
app = Dash()
app.layout = html.Div([
    html.H1("Web Application Dashboards with Dash", style={'text-align': 'center'}),
    html.Br(),
    html.H1("Titanic dataset", style={'text-align': 'center'}),
    html.Br(),
    html.Div(),
    html.H1("Relationship between age and number of survivors", style={'text-align': 'center'}),
    dcc.Graph(figure=scatter(df)),
    html.Br(),
    html.Div(),
    html.H1("Age Histogram", style={'text-align': 'center'}),
    dcc.Graph(figure=histogram(df)),
    html.H1("Gas Prices dataset", style={'text-align': 'center'}),
    dcc.Dropdown(id="select nations",
                 options=[
                     {"label": "Japan", "value": "Japan"},
                     {"label": "Italy", "value": "Italy"},
                     {"label": "UK", "value": "UK"},
                     {"label": "USA", "value": "USA"}],
                 multi=False,
                 value="Japan",
                 style={'width': "40%"}
                 ),
    html.Div(id='output_container', children=[]),
    html.Br(),
    dcc.Graph(id='gas_prices_line_chart', figure={})
])
@app.callback(
    [Output(component_id='output_container', component_property='children'),
     Output(component_id='gas_prices_line_chart', component_property='figure')],
    [Input(component_id='select nations', component_property='value')]
)
def update_graph(option_slctd):
    container = "The year chosen by user was: {}".format(option_slctd)

#     dff = df.copy()
#     dff = dff[dff["Year"] == option_slctd]
#     dff = dff[dff["Affected by"] == "Varroa_mites"]
    # Plotly Express
    fig = px.line(df_gas,x=df_gas.Year,y=df_gas[option_slctd])
    fig.update_layout(
    title=f"Gas Prices of {option_slctd}",
    xaxis_title="Year",
    yaxis_title="Gas Price")
    return container, fig

In [97]:
app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off